@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --first-color: #012f6b;
    --second-color: #00a79d;
    --shadow-color: #d6d6d6;
    --offwhite-color: #FAF9F6;
    --red-color: #ff1100;
}



ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    max-width: 1500px;
    margin: auto;
}


/* Navbar */
#top_nav {
    background-color: var(--first-color);
    padding: 5px;
}
#top_nav a {
    color: var(--white-color);
}
#top_nav .btn {
    background-color: var(--second-color);
}

/* Main Navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: var(--white-color);
    box-shadow: 0 0 5px var(--black-color);
    z-index: 999;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar_icons_item {
    flex-direction: row;
}
.navbar img {
    height: auto;
    width: 250px;
}
#nav_icons {
    display: none !important;
}
#nav_icons ul li {
    display: inline-block;
    padding-left: 20px;
}
#nav_icons ul li:last-child {
    padding-left: 0;
}
#navbarTogglerDemo01 ul li {
    display: block !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: auto;
}
#destination_items {
    width: 250px;
    height: 400px;
    overflow: scroll;
}
#destination_items img {
    height: auto;
    width: 35px;
}
#destination_item:hover #destination_items {
    display: block !important;
}
.navbar #event_btn {
    background-color: var(--second-color);
    color: var(--white-color);
}

/* Home Two */
#hero .swiper {
    width: 100%;
    height: 90vh;
  }

#hero .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
#hero .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
#hero .slider_text {
    position: absolute;
}
#hero .swiper h1{
    font-size: 40px;
    color: var(--second-color);
    font-weight: 600;
}
#hero .swiper p {
    font-size: 16px;
    font-weight: 400;
    color: var(--black-color);
}
#hero .swiper .btn {
    background-color: var(--first-color);
    color: var(--white-color);
}
#hero .swiper .btn:hover {
    background-color: var(--second-color);
    box-shadow: 0 0 15px var(--first-color);
}

#home_two {
    padding: 40px 0;
}
#home_two h2 {
    font-size: 40px;
    color: var(--first-color);
    font-weight: 600;
}
#home_two p {
    font-size: 18px;
}
#home_two h3 {
    font-size: 40px;
    color: var(--second-color);
}
#home_two h3::after {
    content: "";
    height: 1px;
    display: block;
    width: 100px;
    background: var(--second-color);
    margin: auto;
}

#home_three {
    padding: 40px 0;
}
#home_three h2 {
    font-size: 35px;
    color: var(--first-color);
    font-weight: 600;
}
#home_three .mySwiperThree img {
    width: 100%;
}
#home_three .mySwiperThree .swiper-wrapper {
    margin-bottom: 50px;
    margin-top: 30px;
}
#home_three .mySwiperThree .swiper-wrapper #three_country_name {
    background-color: var(--second-color);
    padding: 15px 0px;
    color: var(--white-color);
}

#home_four {
    padding: 40px 0;
}
#home_four h2 {
    font-size: 35px;
    color: var(--first-color);
    font-weight: 600;
}
#home_four .mySwiperFour img {
    width: 100%;
}
#home_four .mySwiperFour .swiper-wrapper {
    margin-bottom: 50px;
    margin-top: 30px;
}

#home_five {
    padding: 40px 0;
}
#home_five h2 {
    font-size: 35px;
    color: var(--first-color);
    font-weight: 600;
}
#home_five .mySwiperFive img {
    width: 100%;
    height: auto;
}
#home_five .mySwiperFive .swiper-wrapper {
    margin-bottom: 50px;
    margin-top: 30px;
}
#home_five .mySwiperFive img {
    border-radius: 50%;
}
#home_five .mySwiperFive p {
    font-style: italic;
}
#home_five .mySwiperFive a {
    color: var(--second-color);
}

#home_six {
    padding: 40px 0;
}
#home_six h2 {
    font-size: 35px;
    color: var(--first-color);
    font-weight: 600;
}
#home_six .card h4 {
    color: var(--first-color);
    font-weight: 600;
}
#home_six .card .btn {
    background-color: var(--second-color);
    color: var(--white-color);
}
#home_six .card .btn:hover {
    background-color: var(--first-color);
}

#home_seven {
    padding: 40px 0;
}
#home_seven h2 {
    font-size: 35px;
    color: var(--first-color);
    font-weight: 600;
}
#home_seven .mySwiperSeven img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
#home_seven .mySwiperSeven .swiper-wrapper {
    margin-bottom: 50px;
    margin-top: 30px;
}

#home_eight {
    padding: 40px 0;
    background-color: var(--offwhite-color);
}
#home_eight h2 {
    font-size: 35px;
    color: var(--first-color);
    font-weight: 600;
}
#home_eight .btn {
    background-color: var(--second-color);
    color: var(--white-color);
} 
#home_eight .btn:hover {
    background-color: var(--first-color);
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #hero .swiper{
        height: 80vh;
    }
    #hero .swiper .mobile_text_bg {
        background:  rgba(255, 255, 255, 0.5);
        text-align: center;
        padding: 15px;
    }
    #hero .swiper h1 {
        font-size: 20px;
        color: var(--first-color);
    }
    #hero .swiper p {
        font-size: 14px;
    }
    #home_two h2 {
        font-size: 30px;
    }
    #home_two p {
        font-size: 16px;
    }
    #home_three h2 {
        font-size: 25px;
    }

    #home_four h2 {
        font-size: 25px;
    }

    #home_five h2 {
        font-size: 25px;
    }
    #home_five .mySwiperFive .d-flex {
        display: block !important;
    }
    #home_five .mySwiperFive img {
        height: 150px;
        width: 150px;
        margin-bottom: 20px;
    }
    
    #home_six h2 {
        font-size: 25px;
    }
    
    #home_seven h2 {
        font-size: 25px;
    }
    
    #home_eight h2 {
        font-size: 25px;
    }
    #home_eight .get_quote_form {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    #hero .swiper h1 {
        font-size: 20px;
        color: var(--first-color);
    }
    #hero .swiper p {
        font-size: 14px;
    }
    #home_two h2 {
        font-size: 35px;
    }
}

/* Side social Media */
#side_social_media_icon {
    position: fixed;
    top: 150px;
    z-index: 700;
}
#side_social_media_icon li {
    padding: 8px;
    background-color: var(--first-color);
    margin: 5px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 5px var(--second-color);
}
#side_social_media_icon li a {
    color: var(--white-color);
    font-size: 18px;
}

/* Side Button */
#side_button {
    position: fixed;
    bottom: 200px;
    right: -140px;
    transform: rotate(-90deg);
    margin: 20px 0px;
    z-index: 999;
}
#side_button .btn {
    background-color: var(--second-color);
    margin-left: 10px;
    color: var(--white-color);
}


/* About Us */
#about_bredcrumb {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/about/bradcrump.webp");
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
}
#about_bredcrumb h1 {
    color: var(--white-color);
}
.about_first_section {
    padding: 30px 0; 
}
.about_first_section p {
    text-align: justify;
}
.about_first_section img {
    height: auto;
    width: 100%;
}
.about_second_section {
    padding: 30px 0; 
}
.about_second_section p {
    text-align: justify;
}
.about_second_section img {
    height: auto;
    width: 100%;
}
.about_third_section {
    padding: 30px 0; 
}
.about_third_section p {
    text-align: justify;
}
.about_third_section img {
    height: auto;
    width: 100%;
}
.about_forth_section {
    padding: 30px 0; 
}
.about_forth_section p {
    text-align: justify;
}
.about_forth_section img {
    height: auto;
    width: 100%;
}

/* CEO Message */
#ceo_bredcrumb {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/ceo/bradcrump.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ceo_bredcrumb h1 {
    color: var(--white-color);
}
#ceo_main_section {
    padding: 40px 0;
}
#ceo_main_section img {
    width: 100%;
}


/* Chooose Us */
#choose_bredcrumb {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/choose-us/bradcrumb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#choose_bredcrumb h1 {
    color: var(--white-color);
}
#choose_us_main_section {
    padding: 40px 0;
}
#choose_us_main_section h2 {
    font-weight: 600;
    color: var(--second-color);
}
#choose_us_main_section ul li i {
    color: var(--second-color);
}
#choose_us_main_section ul li {
    margin: 10px 0;
}
#choose_us_main_section img {
    width: 100%;
}

/* News Page */
#news_bredcrumb {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/news/blogging-backdrop-with-laptop-msaf9d67o4r5dl74.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#news_bredcrumb h1 {
    color: var(--white-color);
}

#news_section {
    padding: 40px 0;
}
#news_section .card img {
    width: 100%;
}
#news_section .card .btn {
    background-color: var(--first-color);
    color: var(--white-color);
}
#news_section .card .btn:hover {
    background-color: var(--second-color);
}


/* News Single Page */
#new_single {
    padding: 40px 0; 
}
#new_single h4 {
    margin-bottom: 20px;
}
.side_more_news img {
    width: 80px;
    height: 80px;
}
.side_more_news h6 {
    color: var(--second-color);
}
.side_more_news p {
    color: var(--black-color);
}
.side_more_news .single_side_news {
    margin-bottom: 30px;
}
#new_single .card-footer ul li {
    display: inline-block;
    padding-left: 10px;
}
#new_single .card-footer ul li a {
    color: var(--first-color);
    font-size: 20px;
}

/* Testimonials */
#testimonial_bredcrumb {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/testimonial/bradcrumb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#testimonial_bredcrumb h1 {
    color: var(--white-color);
}
#testimonial_section {
    padding: 40px 0;
}
#testimonial_section .card img {
    width: 100%;
}
#testimonial_section .card-body a i {
    font-size: 40px;
    color: var(--first-color);
}
#testimonial_section .testimonial_student_img {
    height: 120px !important;
    width: 120px !important;
    margin-top: -50px;
    border-radius: 50%;
    border: 3px solid var(--second-color);
}

/* testimonial Single */
#testimonial_single_section {
    padding: 40px 0;
}
#testimonial_single_section img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
#ts_intake {
    color: var(--second-color);
}

/* Alumni */
#alumni_bredcrumb {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/testimonial/bradcrumb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#alumni_bredcrumb h1 {
    color: var(--white-color);
}
#alumni_section {
    padding: 40px 0;
}
#alumni_section .card img {
    width: 100%;
}
#alumni_section .card-body a i {
    font-size: 40px;
    color: var(--first-color);
}
#alumni_section .testimonial_student_img {
    height: 120px !important;
    width: 120px !important;
    margin-top: -50px;
    border-radius: 50%;
    border: 3px solid var(--second-color);
}
#alum_email {
    color: var(--second-color);
}

/* Alumni Single */
#alumni_single_section {
    padding: 40px 0;
}
#alumni_single_section img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
#ts_email {
    color: var(--second-color);
}


/* Our Partner */
#partner_bredcrumb {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/testimonial/bradcrumb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#partner_bredcrumb h1 {
    color: var(--white-color);
}
#partners {
    padding-bottom: 40px;
}
#partners .btn {
    background-color: var(--second-color);
    color: var(--white-color);
}
#partners .btn:hover {
    background-color: var(--first-color);
}
#partners .card-body {
    padding-bottom: 15px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}
#partners .partner_country_name {
    padding: 10px;
    background-color: var(--second-color);
    color: var(--white-color);
    border-radius: 10px;
    margin-top: 40px;
}


/* Contact Us */
#contact_bredcrumb {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/contactus.webp");
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
}
#contact_bredcrumb h1 {
    color: var(--white-color);
}
#contact_first_section h2 {
    font-size: 40px;
    font-weight: 600;
    color: var(--second-color);
}
#contact_first_section {
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact_first_section ul li{
    padding: 5px 0;
}
.contact_first_section ul li span {
    color: var(--second-color);
}
#contact_first_section .question_paragraph {
    color: var(--second-color);
    font-weight: 500;
    margin-top: 15px;
    font-size: 18px;
}
#contact_first_section .btn {
    border: 2px solid var(--second-color);
    padding: 10px 30px;
    font-weight: 600;
}
#contact_first_section .btn:hover {
    background-color: var(--first-color);
    color: var(--white-color);
    box-shadow: 0 0 30px var(--second-color);
}
.contact_info_col {
    border-right: 2px dashed var(--first-color);
}
.contact_info h5 {
    font-weight: 600;
}
.contact_info ul li {
    padding: 5px 0;
}
.contact_info ul li span {
    color: var(--second-color);
}
#contact_form_section {
    margin-top: 30px;
    margin-bottom: 30px;
}
#contact_form_section h3 {
    font-weight: 600;
    color: var(--first-color);
}
#contact_form_section button {
    background-color: var(--first-color);
    color: var(--white-color);
}
#contact_form_section button:hover {
    box-shadow: 0 0 30px var(--second-color);
}
#contact_person img{
    height: auto;
    width: 100px !important;
    border-radius: 10px;
}
#contact_person h5 {
    color: var(--second-color);
}
#contact_person a i {
    color: var(--second-color);
}

#event_section {
    padding: 40px 0;
}
#event_search {
    background-color: var(--first-color);
    padding: 50px 0;
}
#event_search label {
    color: var(--white-color);
}
#event_section h3 {
    color: var(--white-color);
    font-weight: 600;
}
#event_section .card-img {
    height: 200px;
    overflow: hidden;
}
#event_section h4 {
    font-weight: 600;
    color: var(--second-color);
}
#event_section input {
    margin-top: 10px;
}
#event_form {
    background-color: var(--second-color);
    padding: 15px;
    border-radius: 10px;
    position: sticky;
    top: 100px;
}
#event_form h2 {
    color: var(--white-color);
}
#event_form p {
    color: var(--white-color);
}
#event_form .btn {
    background-color: var(--white-color);
}

/* Team */
#team_bredcrumb {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/contactus.webp");
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
}
#team_bredcrumb h1 {
    color: var(--white-color);
}
#team_section {
    padding: 40px 0;
}
#team_section h4 {
    font-weight: 600;
    color: var(--first-color);
}
#team_section p {
    color: var(--second-color);
}


/* Application */
#application_bredcrumb {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/application/bradcrumb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#application_bredcrumb h1 {
    color: var(--white-color);
}
#application_form {
    padding: 40px 0;
}
#application_form .required_text {
    color: var(--red-color);
    font-style: italic;
}
#application_form h4 {
    background-color: var(--second-color);
    padding: 10px;
    color: var(--white-color);
    border-radius: 5px;
}
#application_form .btn {
    background-color: var(--first-color);
    color: var(--white-color)
}
#application_form .btn:hover {
    box-shadow: 0 0 30px var(--second-color);
}
#application_form label {
    font-weight: 600;
}
.form-control:focus {
    box-shadow: none;
}
.form-select:focus {
    box-shadow: none;
}
#application_form .nav-pills .nav-link {
    color: var(--first-color);
}
#application_form .nav-pills .nav-link.active {
    background-color: var(--second-color);
    color: var(--white-color);
}

/* Appointment */
#appointment_bredcrumb {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/application/bradcrumb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#appointment_bredcrumb h1 {
    color: var(--white-color);
}
#appointment_section h4 {
    background-color: var(--second-color);
    padding: 10px;
    color: var(--white-color);
    border-radius: 5px;
}
#appointment_section {
    padding: 40px 0;
}
#appointment_section label {
    font-weight: 600;
}
#appointment_section .btn {
    background-color: var(--first-color);
    color: var(--white-color)
}
#appointment_section .btn:hover {
    box-shadow: 0 0 30px var(--second-color);
}

/* Alumni Registration */
#alumni_registration_bredcrumb {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../image/application/bradcrumb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#alumni_registration_bredcrumb h1 {
    color: var(--white-color);
}
#alumni_registration h4 {
    background-color: var(--second-color);
    padding: 10px;
    color: var(--white-color);
    border-radius: 5px;
}
#alumni_registration {
    padding: 40px 0;
}
#alumni_registration label {
    font-weight: 600;
}
#alumni_registration .btn {
    background-color: var(--first-color);
    color: var(--white-color)
}
#alumni_registration .btn:hover {
    box-shadow: 0 0 30px var(--second-color);
}


/* Footer */
#footer {
    background-color: var(--first-color);
    padding: 30px 0;
}
#footer h2 {
    color: var(--white-color);
    font-size: 40px;
}
#footer hr {
    color: var(--white-color) !important;
    margin-top: 50px;
    margin-bottom: 30px;
}
#footer img {
    height: auto;
    width: 150px;
}
#footer h4 {
    font-size: 18px;
    color: var(--white-color);
    margin-bottom: 25px;
    text-decoration: underline;
}
#footer #footer_about_us ul li a{
    text-decoration: none;
    color: var(--white-color);
}
#footer #footer_quick_link ul li  {
    margin: 10px 0;
}
#footer #footer_quick_link ul li a {
    color: var(--white-color);
}
#footer #footer_countries ul li{
    margin: 10px 0;
}
#footer #footer_countries ul li a{

    color: var(--white-color);
}
#footer #footer_social_media ul li {
    display: inline-block;
    margin-right: 10px;
    color: var(--white-color);
    margin-bottom: 10px;
}
#footer #footer_social_media ul li a {
    font-size: 20px;
    color: var(--white-color);
}
#copyright {
    padding: 10px 0;
    background-color: var(--black-color);
    color: var(--white-color);
}



@media only screen and (min-width: 300px) and (max-width: 500px) {
    .top_nav_text_menue {
        display: none;
    }
    #side_button {
        display: none;
    }
    #nav_icons {
        display: block !important;
    }
    .offcanvas {
        overflow: scroll;
    }
    #destination_items {
        height: auto;
        width: 100%;
    }
    #destination_items li {
        padding: 10px 0 !important;
    }
    #company_items li {
        padding: 10px 0 !important;
    }
    #ceo_main_section img {
        margin-top: 20px;
    }
    .about_forth_section .our_mission_text {
        margin-top: 20px;
    }

    #contact_first_section h2 {
        font-size: 30px;
    }
    .contact_info_col {
        border-bottom: 2px dashed var(--first-color);
        border-right: 0;
        padding: 20px 10px;
    }
    #contact_person {
        margin-top: 30px;
    }
    
    .office_time{
        margin-top: 20px;
    }
    #application_form label {
        margin-top: 15px;
    }
    #appointment_section label {
        margin-top: 15px;
    }
    #alumni_registration label {
        margin-top: 15px;
    }
    #alumni_registration #studied input {
        margin-top: 10px;
    }

    #footer h2 {
        font-size: 25px;
        padding-bottom: 10px !important;
    }
    #footer h4 {
        margin-top: 20px;
    }
    #footer #footer_phone_number {
        margin-bottom: 20px;
    }
    #footer #footer_email {
        margin-bottom: 20px;
    }
    #footer #footer_social_media {
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
    #side_button {
        display: none;
    }
}


#btn-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    z-index: 999;
    background-color: var(--second-color);
}
#btn-back-to-top i {
    color: var(--white-color);
}
